<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="toast" id="toast">
        <p id="toast-message">TOAST</p>
    </div>
    <nav>
        <div class="nav-container">
            <div class="nav-header">
                <a href="/"><h1>Node-Forum</h1></a>
                <p>By <a href="https://github.com/csaseymour">Charlie Seymour</a></p>
            </div>
            <div class="nav-links">
                <a href="/"><hr>Forums<hr style="margin-left: auto;"></a>
                <a href="/user/rules"><hr>Rules<hr style="margin-left: auto;"</a>
                <a href="/user/members"><hr>Members<hr style="margin-left: auto;"></a>
            </div>
            <div class="user-container">
                {{#if user}}
                <img class="image" src="/profile_pictures/{{user._id}}.png" onerror="this.src='/profile_pictures/alt.png'">
                <div class="user-menu">
                    <h1>{{user.username}}</h1>
                    <div class="user-dropdown">
                        <a href="/user/dashboard">Profile</a>
                        <a href="/user/messages">Messages</a>
                        <a href="/user/logout">Logout</a>
                    </div>
                </div>
                {{#if user.notification.unread}}
                <i id="not-icon" style="cursor: pointer;" class="material-icons">notifications_active</i><p>[{{user.notification.notifications.length}}]</p>
                {{else}}
                <i id="not-icon" style="cursor: pointer;" class="material-icons">notifications_none</i>
                {{/if}}
                <div class="notifications-hidden" id="notifications">
                    {{#if user.notification.notifications}}
                        {{#each user.notification.notifications}}
                            <div class="notification">
                                <p>{{this.notificationType}} </br> {{this.message}}</p>
                                <i style="color: red; cursor: pointer;" class="not-remove material-icons" id="{{this._id}}">close</i>
                            </div>
                        {{/each}}
                    {{/if}}
                </div>
                {{else}}
                <button class="button" onclick="display('login')">Login</button>
                <button class="button" onclick="display('register')">Register</button>
                {{/if}}
            </div>
        </div>
    </nav>
    <main>  
        {{#if login_error}}
        <div class="overlay-visible" id="login">
            <div class="container-column center">
                <p>{{login_error}}</p>
            </div>
        {{else}}
        <div class="overlay-hidden" id="login">
        {{/if}}
            <div class="container-column">
                <form method="POST" action="/user/login" class="center">
                    <input type="text" name="username" placeholder="username">
                    <input type="password" name="password" placeholder="password">
                    <div>
                        <input class="button" type="submit" value="login">
                        <a class="button" href="#" onclick="display('login')">cancel</a>
                    </div>
                    <a href="/user/passwordreset">reset password</a>
                </form>    
            </div>
        </div>
        {{#if register_errors}}
        <div class="overlay-visible" id="register">
            <div class="container-column center">
                {{#each register_errors}}
                <p>{{this.msg}}</p>
                {{/each}}
            </div>
        {{else}}
        <div class="overlay-hidden" id="register">
        {{/if}}
            <div class="container-column">
                <form method="POST" action="/user/register" class="center">
                    <input type="text" name="username" placeholder="username" {{#if username}} value="{{username}}" {{/if}}>
                    <input type="text" name="email" placeholder="email" {{#if email}} value="{{email}}" {{/if}}>
                    <input type="password" name="password" placeholder="password">
                    <input type="password" name="password2" placeholder="match password">
                    <div>
                        <input class="button" type="submit" value="register">
                        <a class="button" href="#" onclick="display('register')">cancel</a>
                    </div>
                </form>    
            </div>
        </div>
        {{{body}}}
    </main>
    <script>
        function display(id){
            var window2display = document.getElementById(id);
            if(window2display.classList.contains('overlay-hidden')){
                window2display.classList.remove('overlay-hidden');
                window2display.classList.add('overlay-visible');
            }else{
                window2display.classList.remove('overlay-visible');
                window2display.classList.add('overlay-hidden');
            }
        }
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/socket.js"></script>
</body>
</html>