<div class="container-column-boff">
    <h1 class="container-header-row">Categories</h1>
    <div class="grid-2">
        {{#each categories}}
        <div class="category">
            <a href="/post/category?category={{this.category}}"><h1>{{this.category}}</h1></a>
            <p>Latest Thread: <a class="category-post-link" href="/post/post?id={{this.id}}">{{this.title}}</a></p>
            <p>Latest Reply: <a href="/post/post?id={{this.latestreply.id}}">{{this.latestreply.username}}</a></p>
            <P>💬 {{this.threads}}</P>
        </div>
        {{/each}}   
    </div>
</div>
<div class="chatbox" id="chatbox">
    <div class="container-column-boff">
        <div class="container-header-row">
            <h3>Live Chat</h3>
            <i class="material-icons" style="margin-left: auto;" onclick="display('chat-settings')">settings</i>
        </div>
        <div class="chatbox-messages" id="chat-messages">
            {{#unless user}}
                <p>You must be logged in to view/use chat</p>
            {{/unless}}
        </div>
        <div style="display: flex; flex-direction: row;">
            <input type="text" name="message" placeholder="message..." id="message-box">
            <i class="material-icons" style="padding: 1rem; cursor:pointer;" id="reply-button">reply</i>
        </div>
          
    </div>
    <div class="container-column-boff margin-left">
        <h3 class="container-header-row">online users</h3>
        <div class="online-users-list" id="users">
            
        </div>
    </div>
</div>
<div class="overlay-hidden" id="chat-settings">
    <form method="POST" action="/user/settings">
        <input type="text" name="color" placeholder="chat-color: (HEX)...">
        <input type="submit" value="update" class="button">
        <button type="button" onclick="display('chat-settings')" class="button">Cancel</button>
    </form>
</div>