<div class="container-column-boff" style="overflow-y: scroll;height: 60vh;">
    {{#each message.messages}}
        {{#if this.me}}
            <div class="private-message margin-bottom padding">
                <img src="/profile_pictures/{{this.user._id}}.png" onerror="this.src='/profile_pictures/alt.png'" class="image float-left margin-right">
                <h3>{{this.user.username}}</h3>
                <p style="word-break: break-all;">{{this.message}}</p>
            </div>
        {{else}}
            <div class="private-message message-other margin-bottom padding">
                <img src="/profile_pictures/{{this.user._id}}.png" onerror="this.src='/profile_pictures/alt.png'" class="image margin-left">
                <h3><a href="/user/user?id={{this.user._id}}">{{this.user.username}}</a></h3>
                <p>{{this.message}}</p>
            </div>
        {{/if}}
    {{/each}}
</div>
<form method="POST" action="/user/message">
    <input type="text" value="{{message._id}}" name="messageid" style="visibility: hidden;" readonly> 
    <textarea type="text" name="message" placeholder="message" style="resize: vertical;"></textarea>
    <input type="submit" value="send">
</form>    

