
<div class="options">
	<a href="/"><h1>Home</h1></a>
</div>
<div class="post">
	<h1>{{post.title}}</h1>
	<h3><a href="#">{{post.postedBy.username}}</a></h3>
	<p class="post-date">{{post.createdAt}}</p>
	<hr>
	<div class="post-content">
		<p>{{post.content}}</p>
	</div>
</div>
<div class="new-comment">
	<h1>Comment</h1>
	<form method="POST" action="/post/newcomment?id={{post._id}}">
		<textarea name="content"></textarea>
		<input type="submit" value="submit">
	</form>
</div>
<div class="comments">
	{{#each post.comments}}
		<div class="comment-user-img">
			<img src="/profile_pictures/{{this.postedBy._id}}.png">
		</div>
		<div class="comment-content">
			<h3><a href="#">{{this.postedBy.username}}</a></h3>
			<p class="comment-date">{{this.date}}</p>
			<hr>
			<p>{{this.text}}</p>
		</div>
	{{/each}}
</div>