<div class="post">
	<div class="post-left">
		<img src="/profile_pictures/{{post.postedBy._id}}.png" onerror="this.src='/profile_pictures/alt.png';" alt="pp">
		<h1>{{post.postedBy.username}}</h1>
	</div>
	<div class="post-middle">
		<h1 class="post-title">{{post.title}}</h1>
		<p clas="post-content">{{post.content}}</p>
		<p class="post-info">Post at {{post.createdAt}}</p>
	</div>
</div>
<div class="new-comment">
	<form method="POST" action="/post/newcomment?id={{post._id}}">
		<input type="submit" value="Sumbit Comment">
		<textarea name="content"></textarea>
	</form>
</div>
<div class="comments-container">
	{{#each post.comments}}
	<div class="comment">
		<div class="comment-top">
			<div class="comment-user">
			<img src="/profile_pictures/{{this.postedBy._id}}.png" onerror="this.src='/profile_pictures/alt.png'" alt="pp">
			<h1>{{this.postedBy.username}}</h1>
			</div>
			<div class="comment-content-container">
				<img src="">
				<p>{{this.text}}</p>
			</div>
		</div>
		<div class="comment-footer">
			<p>posted at {{this.date}}</p>
		</div>
	</div>
	{{/each}}
</div>